:root {
    --primary-color: #1DB954;
    --dark-bg: #000;
    --primary-dark: #282828;
    --text-light: #FFFFFF;
    --text-muted: #B3B3B3;
    --hover: #1ed760;
}
*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: var(--text-muted);
}
img {
    width: 100%;
    height: auto;
}
a {
    text-decoration: none;
    color: inherit;
}
ul {
    list-style: none;
}
body {
    background-color: var(--dark-bg);
    overflow-x: hidden;
}